@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Ubuntu:wght@300;400;500;700&display=swap');

*{
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
}
/*Navbar*/
.navbar {
  background: #212529;
  background: linear-gradient(270deg,#212529 0%, #000000 800%);
  background: -webkit-linear-gradient(270deg,#212529 0%, #000000 800%);
  background: -moz-linear-gradient(270deg,#212529 0%, #000000 800%);
}

.logo-navbar h4 {
  font-family: 'Pacifico', cursive;
}

.nav-link{
  transition:all 0.3s;
}

.nav-link:hover{
  transform: scale(1.05);
  color: #DC3545 ;
}

/*Footer*/

.logo-footer {
  max-width: 50px;
  max-height: 100px;
}

.titulo-footer {
  font-family: 'Pacifico', cursive;
}

.imagen-redes {
  max-width: 50px;
  max-height: 50px;
  padding: 5px;
}

/*Formulario */
.google-btn {
  width: 50px;
}

.facebook-btn
  {
    width: 50px;
  }


  /*Error 404 */
  .error-404 {
    width:15rem ;
    height: 15rem;
  }

  /*Entrada al blog */
  span.cinefilos-titulo {
    font-family: 'Pacifico', cursive;
  }

iframe.video-youtube {
    border-radius: 20px;
  }

  /*Galeria*/
.galeria {
  margin: 0px !important;
}

.galeria-img {
  min-height: 400;
  padding:2px;
}

.galeria-img:hover {
  border: 5px solid #E3F2FD;
}

/*Contacto*/
.ratio iframe {
  border-radius: 20px;
}